---
available_plugins:
    - IBIP
    - CommandHelp
    - Ping
    - BotInfo
    - BotAdmin
    - Catch22
    - UrbanDictionary
    - WolframAlpha
    - Weather
    - GoogleSearch
    - GoogleTranslate
    - YouTubeSearch
    - DuckDuckGoSearch
    - Magic8Ball
    - MerriamWebster
    - Cleverbot
    - Fortune
    - Rot13
    - TinyURL
    - GitHubInfo
    - XKCDComics
    - Jerkcity
    - IsItUp
    - Hastebin
    - Slap
    - Zalgo
    - TacoRecipes
    - RainbowText
    - FlipText
    - MorseCode
    - ShakespeareanInsults
    - LutherInsults
    - TheoQuotes
    - LennartQuotes
    - CBSG
    - BTC
    - WorldPopulation
    - RubyEval
    - Wikipedia
    - LeetSpeak
    - UserIntros
    - UserQuotes
    - UserMail
    - CustomTriggers
    - CTCPVersion
    - LastSeen
    - LinkTitling
    - RegexReplace

servers:
    irc.rizon.net: # at least one server entry is mandatory
        nick: 'yossarian-bot' # optional
        prefix: '^!' # optional
        admins: # optional
            - 'cpt_yossarian'
            - 'yossarian'
        ssl: true # optional
        port: 6697 # optional
        channels: # mandatory
            - '#yossarian-bot'
        disabled_plugins: # mandatory - use an empty array if none
            - 'LinkTitling'
            - 'UserIntros'
            - 'RegexReplace'
    irc.freenode.net:
        nick: 'yossarian-bot'
        prefix: '^!'
        admins:
            - 'woodruffw'
        ssl: true
        port: 6697
        channels:
            - '#bots'
        disabled_plugins: []

