---
# optional keys, set by default or not necessary
nick: 'yossarian-test'
prefix: '^!'

# not mandatory, but required for !admin commands
admins: ['cpt_yossarian']

# mandatory keys
servers:
    irc.rizon.net:
        ssl: true
        port: 6697
        channels:
            - '#yossarian-bot'
    irc.freenode.net:
        ssl: true
        port: 6697
        channels:
            - '#bots'

