---
# optional keys, set by default or not necessary
nick: 'yossarian-test'
prefix: '^!'

# mandatory keys
servers:
    irc.rizon.net:
        admins:
            - 'cpt_yossarian'
            - 'yossarian'
        ssl: true
        port: 6697
        channels:
            - '#yossarian-bot'
    irc.freenode.net:
        admins:
            - 'woodruffw'
        ssl: true
        port: 6697
        channels:
            - '#bots'

